          
          /* General syntax */
body
{
    margin:0 auto;
    width:90%;
       font-family:Arial,Tahoma

}

header
{
    clear:both
}

h1
{
   position:absolute;
   top:120px;
   right:360px;
   color:#fff;
   font-size:35px;
   white-space:pre-line;
   line-height:12px;
   word-spacing:15px
   
}
   
 h2
 {
  color:#fff;
  text-align:center;
  white-space:pre-line;
  word-spacing:7px;
  line-height:13px;
  font-size:30px;
  padding-top:25px
 }
 h3,h5
 {
    color:#fff;
    width:300px;
    font-size:Arial,tahoma;
    
  }
  h5
  {
   padding-top:30px;
   margin:10px 0 0 410px;
   letter-spacing:3px
  }
  article
  {
   width:100%;
   height:400px;
   background-color:#75d79d;
   display:flex;
   justify-content:space-around
  }
  h4
  {
   color:#75d79d;
   font-weight:bold;
   font-size:15px
  }
  
  footer
  {
   clear:both;
   width:100%;
   height:200px;
   background-color:#db684c;
   color:#fff;
   text-align:center;
   font-size:25px
  }
 /* Header's site */
             
.logoNav
{
    width:100%;
    height:100px;
    background-color:#ec927c;
    
}
.logoNav div
{
    position:absolute;
    transition: all ease-in-out .6s;
    
}

.logoNav div:hover
{
    transform: scale(1.1,1.1);
    cursor:pointer;
    opacity:.8
}

.logoNav img
{
   position:relative;
   left:190px;
   top:20px
}
.logoNav p
{
    color:#fff;
    font-size:30px;
    font-family:sans-serif;
    float:right;
    width:95%;
    line-height:14px;
    position:relative;
    left:230px;
    bottom:54px
}
.logoNav span
{
    font-size:15px;
    white-space: pre-line
}


ul
{
   list-style-type:none;
   margin-left:440px;
   
}

ul li 
{
   display:inline-block;
    margin-top:40px;
    
   

}

ul li a
{
      text-decoration:none;
      padding:20px;
      color:#fff;
      font-size:20px;
      font-weight:bold;
      transition:all .4s ease-in-out;
      position:relative
}
ul li a:after{
   content:"";
   display:inline-block;
   position:absolute;
   left:0px;
   bottom:-1px;
   width:0;
   height:3px;
   background-color:#fff;
   transition:all ease-in-out 
}
ul li a:hover:after{
   width:100%
}

.activeLink:after
{
   content:"";
   display:inline-block;
   position:absolute;
   left:0px;
   bottom:-1px;
   width:100%;
   height:3px;
   background-color:#fff;
   transition:all ease-in-out 
}
                    /* Slider Section  */
                    
 .welcomeSlider
 {
   width:100%;
   background-color:#db684c;
   height:420px
 }
 
 .welcomeSlider img
 {
   margin:100px 0 0 300px;
   width:50%
 }
 
 
button
{
  position:absolute;
  top:50%;
  padding:15px;
  background-color:transparent;
  color:#fff;
  cursor:pointer;
  opacity:.8;
  border:none

}
button:hover
{
 opacity:.5
}


.next
{
   margin-left:76.75%
}
.prev
{
  margin-left:12%
}

.welcomeSlider span
{
   font-size:15px;
   word-spacing:normal;
   position:absolute;
   left:35px
}
                  /* ...Why Us... */
.creativeWork
{
   width:100%;
   height:400px;
   background-color:#29211f;
   color:#db684c;
   clear:both;
   padding-top:2px
}

.creativeWork span,article span
{
  color:#db684c;
  font-size:15px;
  word-spacing:normal;
}

.infinity,.fa-gift,.fa-cloud
{
  color:#fff;
  background-color:#db684c;
  width:50px;
  height:50px;
  border-radius:50%;
  padding:15px;
  position:relative
}

.infinity:after,
.iconsDiv i:after
{
   
    content: "";
    position: absolute;
    background:transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
    border: 3px solid;
}
.infinity:hover:after,
.iconsDiv i:hover:after
{
    -webkit-transform: scale(1.5);
    opacity:.7;
    cursor:pointer
}

.infinity
{
 font-size:50px;
 text-align:center;
 display:block;
 height:60px;
 font-weight:bolder;
 padding:7px;
 
}
.multiPurp
{
 position:relative;
 top:40px;
 right:80px;
 
}
.multiPurp p
{
 width:281px;
 white-space:pre-line
}


.iconsDiv
{
  width:100%;
  display:flex;
  justify-content:space-around
 
}
.iconsDiv div
{
 width:25%;
 float:left;
 white-space:pre-line;
 
}
.iconsDiv p
{
 position:relative;
 bottom:60px
}


                     /* Our Experts section */
 article h2
 {
  position:relative;
  top:100px;
  line-height:25px;
  width:300px
 }
.flipper
{
  width:300px;
  height:400px;
  position:relative;
  top:75px;
  transform-style:preserve-3d;
  transition:all 1s ease-in-out;
  float:left
}

.flipper:hover
{
 transform:rotatey(180deg)
}

.front,.back
{
 width:150px;
 height:250px;
 background-color:#fff;
 border-radius:10px;
 text-align:center;
 backface-visibility:hidden;
 position:absolute;
 top:0;
 left:0

}

.front
{
 z-index:2;
 transform:rotatey(0deg)
}

.back
{
 transform:rotatey(180deg);
 color:#75d79d;
 padding:10px;
 color:#db684c;
  border:dashed 5px #75d79d;
}
.front img
{
  width:100px;
  height:100px;
  border-radius:50%;
  border:solid 5px #75d79d;
  position:relative;
}

.front p
{
 color:#db684c
}

.back a
{
  background-color:#75d79d;
  padding:15px;
  text-decoration:none;
  border-radius:10px;
  color:#fff;
  font-size:15px;
}
.back span
{
 color:#75d79d;
 font-size:25px;
 font-weight:bold
}

.back a
{
 position:relative;
 top:80px
}

.fa-twitter
{
  padding-right:20px
}

            /*  our work looks like..  */
 
 .slideContainer
 {
   width:100%;
   height:500px;
   clear:both;
   background-color:#eee;
   position:relative;

 }
 
 .mySlideFade
 {
   width:90%;
   margin-left:130px;
   margin-top:90px;
   display:none
 }
  .mySlideFade div
  {
    float:left;
    width:25%;
    
  }
  .slideContainer h4
  {
    color:#29211f;
    white-space:pre-line;
    text-align:center;
    font-size:25px
  }
  
  .slideContainer span
  {
    color:#75d79d;
  }
  
  .mySlideFade img
  {
   width:55%;
   height:200px
  }
 
 .beforeSlide,.afterSlide

 {
  cursor:pointer;
  position:absolute;
  top:45%;
  width:auto;
  padding:16px;
  right:20px;
  font-weight:bold;
  font-size:18px;
  transition:0.6s ease;
  border-radius:0 3px 3px 0
 }

.beforeSlide
{
 right:1100px
}

.beforeSlide:hover,.afterSlide:hover {
  background-color:rgba(0,0,0,0.8);
}

.dot
{
  width:16px;
  height:16px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  position:relative;
  left:430px;
  top:50px ;
  text-align:center
}

.active,.dot:hover {
  background-color: #717171;
}

footer p,.twitterAccount span
{
  color:#b23526;
  font-size:20px
}

footer a i
{
  font-size:20px;
  color:#fff
}

.copyRights
{
  width:95.7%;
  height:50px;
  color:#fff;
  background-color:#413e3d;
  text-align:left;
  padding:20px 0 0 50px
}
.locationMap 
{
  width:100%;
  height:200px
}

.locationMap img
{
  width:100%;
  height:200px
}
.tooltip
{
  position:relative
}
.tooltiptext
{
  
  width:300px;
  background-color:black;
  color:#fff;
  text-align:center;
  border-radius:6px;
  position:absolute;
  bottom:200%;
  right:40%;
  padding: 10px 10px;
  z-index:1;
  transition: opacity 0.3s;
  opacity:0;

}

 .tooltiptext:before {
    content: "";
    position: absolute;
    border-left:12px solid transparent;
    border-right:12px solid transparent;
    border-bottom:12px solid black;
    height:0;
    width:0;
    left:180px;
    top:-6px;
    
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: .4;
}
